{% extends "base.html" %}

{% block content %}

<div id="full-size">
    <form name="register_form" method="POST" action="{% url 'register' %}">
    {% csrf_token %}
        <label class="text-dark" for="register" id="title">สมัครสมาชิก</label>
        <div class="form-group" style="margin-left: 60px;">
            <label style="font-size: 20px;" for="first_name">ชื่อจริง</label>
            <input type="text" name="first_name" class="form-control" placeholder="Firstname" style="width: 95%;" required>
        </div>
        <div class="form-group" style="margin-left: 60px;">
            <label style="font-size: 20px" for="last_name">นามสกุล</label>
            <input type="text" name="last_name" class="form-control" placeholder="Lastname" style="width: 95%;" required>
        </div>
        <div class="form-group" style="margin-left: 60px;">
            <label style="font-size: 20px" for="last_name">ชื่อผู้ใช้</label>
            <input type="text" name="last_name" class="form-control" placeholder="Lastname" style="width: 95%;" required>
        </div>
        <div class="form-group" style="margin-left: 60px;">
            <label style="font-size: 20px" for="last_name">รหัสผ่าน</label>
            <input type="text" name="last_name" class="form-control" placeholder="Lastname" style="width: 95%;" required>
        </div>
        <div class="form-group" style="margin-left: 60px;">
            <label style="font-size: 20px" for="last_name">Email</label>
            <input type="text" name="last_name" class="form-control" placeholder="Lastname" style="width: 95%;" required>
        </div>
        <div class="form-group" style="margin-left: 60px;">
            <label style="font-size: 20px" for="last_name">เบอร์โทรศัพท์</label>
            <input type="text" name="last_name" class="form-control" placeholder="Lastname" style="width: 95%;" required>
        </div>
        <div class="form-group" style="margin-left: 60px;">
            <label style="font-size: 20px" for="last_name">ที่อยู่</label>
            <textarea type="text" name="last_name"  class="form-control" placeholder="Lastname" rows="15" style="width: 95%; resize: none;" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark" style="margin-top: 10px; margin-bottom: 60px; position: absolute; left: 60px; width: 120px;">ยืนยัน</button>
    </form>
</div>

{% endblock %}