{% extends 'base.html' %}

{% block content %}

    <div id="full-size">
        <div>
            <label class="text-dark" for="profile_staff" id="title">Profile Staff</label>

            <a href="{% url 'edit_profile_staff' %}">
                <button type="submit" class="btn btn-outline-dark float-right" style = "margin: 50px;">Edit Profile</button>
            </a>
        </div>

        <div>
            <p style="margin-left: 60px; font-size: 20px;">
                ชื่อจริง : {{ staff.sta_fname }}
            </p>
            <p style="margin-left: 60px; font-size: 20px;">
                นามสกุล : {{ staff.sta_lname }}
            </p>
            <p style="margin-left: 60px; font-size: 20px;">
                Email : {{ staff.sta_email }}
            </p>
            <p style="margin-left: 60px; font-size: 20px;">
                ชื่อผู้ใช้ : {{ user.username }}
            </p>
            <p style="margin-left: 60px; font-size: 20px;">
                เบอร์โทรศัพท์ : {{ staff.sta_phone }}
            </p>
            <p style="margin-left: 60px; font-size: 20px;">
                ตำแหน่ง : {{ staff.sta_position }}
            </p>
        </div>
    </div>

{% endblock %}